html {
    background-image: url("images/aesthetic-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    text-align: center;
    background-color: rgb(255, 182, 193);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px dotted blue;
    padding: 10px, 15px, 10px, 15px;
    width: 250px;
    margin-bottom: 20px;
}
p {
    background-color: hsl(290, 65.8%, 86.4%);
    text-align: justify;
    font-style: italic;
    padding: 20px;
    border: 3px black;
    border-top-style: dashed;
    border-right-style: dotted;
    border-left-style: double;
    border-bottom-style:solid;
    width: 500px;
}
span {
    font-style: bold, italic;
    text-align: center;
    color: rgb(119, 7, 55);
    margin: 2px;
    margin-left: 5px;
    margin-right: 5px;
}