html {
    background-image: url(images/background-image.jpg);
    background-repeat: repeat-y ; 
    background-size: cover;
}
.rcorners1 {
    border-radius: 15px 50px 30px 5px;
    background: #084fd4da;
    padding: 20px;
    width: 500px;
    outline: #5599ff9f solid 15px;
    }
.rcorners2 {
    border-radius: 15px 50px 30px 5px;
    background: #f3f04ad2;
    padding: 15px;
    width: 600px;
    position: relative;
    top: 20px;
    outline: #a9c50ab4 solid 15px;
    color:rgb(92, 94, 0)
}
.title {
    font-family: cursive;
    color:rgb(4, 33, 128);
    margin-bottom: 0px;
}
.sub {
    font-size: 20px;
    margin-bottom: 0px;
}
.curve1 {
    border-radius: 15px 50px 30px 5px;
    background: #6c19daea;
    padding: 20px;
    width: 300px;
    height: 80px;
    outline: #8f3afdd0 solid 15px;
    position: relative;
    top: 95px;
}
.explore {
    font-size: 60px;
    color: #34096d;
}
.button {
    background-color: #dfae0dea;
    border-radius: 20px;
    border: 2px solid #ffc60bea;
    cursor: pointer;
    color: #443502ea;
    padding: 25px 37px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
    margin-left: 30px;
    position: relative;
    bottom: 80px;
    left: 75px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.button:hover {
    background-color: #dfae0d49;
    color: #443502ea;
    border: 2px solid #dfae0dea;
}
.image-box1 {
    width: 250px;
    height: 250px;
    border-radius: 15px 50px 30px 5px;
    background: #084fd4da;
    padding: 20px;
    outline: #5599ff9f solid 20px;
    position: relative;
    top: 10px;
    right: 400px;
}
.text-box1 {
    border-radius: 15px 50px 30px 5px;
    background: #8f3afdd0;
    padding: 20px;
    width: 700px;
    height: 250px;
    outline: #6c19daea solid 20px;
    position: relative;
    left: 250px;
    bottom: 320px;
}
.main-box2 {
    border-radius: 15px 50px 30px 5px;
    background: #ffc60bea;
    padding: 20px;
    width: 900px;
    height: 195px;
    outline: #dfae0dea solid 20px;
    position: absolute;
    top: 1000px;
    left: 200px;
}
.image-box2 {
    width: 250px;
    height: 330px;
    border-radius: 15px 50px 30px 5px;
    background: #084fd4da;
    padding: 20px;
    outline: #5599ff9f solid 20px;
    position: relative;
    top: 100px;
    left: 400px;
}
.text-box2 {
    border-radius: 15px 50px 30px 5px;
    background: #8f3afdd0;
    padding: 20px;
    width: 700px;
    height: 250px;
    outline: #6c19daea solid 20px;
    position: relative;
    bottom: 255px;
    right: 250px;
}
.main-box3 {
    border-radius: 15px 50px 30px 5px;
    background: #f3f04ad2;
    padding: 20px;
    width: 900px;
    height: 175px;
    outline: #a9c50ab4 solid 20px;
    position: absolute;
    top: 1830px;
    left: 200px;
}
.image-box3 {
    width: 400px;
    height: 250px;
    border-radius: 15px 50px 30px 5px;
    background: #084fd4da;
    padding: 20px;
    outline: #5599ff9f solid 20px;
    position: relative;
    right: 400px;
    top: 215px;
}
.text-box3 {
    border-radius: 15px 50px 30px 5px;
    background: #8f3afdd0;
    padding: 20px;
    width: 700px;
    height: 250px;
    outline: #6c19daea solid 20px;
    position: relative;
    left: 250px;
    bottom: 110px;
}
.ending-box {
    border-radius: 15px 50px 30px 5px;
    background: #4441f7d0;
    padding: 20px;
    width: 1200px;
    height: 250px;
    outline: #0f0d99ea solid 20px;
    position: absolute;
    top: 2560px;
    left: 55px;
    margin-bottom: 50px;
}
h3 {
    font-size: 23px;
}
h2 {
    font-size: 38px;
}
h4 {
    font-size: 25px;
}
.purple-text {
    color:#210447;
    font-family:cursive;
}
.blue-text {
    color:#00163d;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.green-text {
    color:rgb(1, 78, 8);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.yellow-text {
    color:#523f02fa;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}